@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #212022;
}

#buttons {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #dad6dd;
  background-color: #dad6dd;
  color: #212022;
  cursor: pointer;
  border-radius: 4px;
  min-width: 19rem;
}

button:hover {
  background-color: #d0a7fa;
  border-color: #d0a7fa;
}

ul {
  list-style-type: none;
  padding: 10px;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 6px;
  font-family: monospace;
  font-size: 14px;
  color: #dcdcdc;
  max-width: 800px;
  margin: 0 auto;
}
h3 {
  text-align: center;
  color: white;
}
ul li {
  padding: 4px 6px;
  border-bottom: 1px solid #333;
}

ul li:last-child {
  border-bottom: none;
}

.info-box {
  border-radius: 6px;
  line-height: 1.5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.info-box p {
  text-align: center;
  max-width: 700px;
}
#buttons {
  margin-bottom: 15px;
}

#buttons button {
  margin-right: 8px;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

#buttons button:hover {
  background-color: #217dbb;
}
p {
  padding: 0rem 0.5rem;
}
